<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
  <div class="logo">
    Logo
  </div>
</header>
<div class="container">
  <div class="wrapper">
    <button (click)="setNew()">add task</button>
    <br/>
    <button (click)="addSubTask()">add subTask</button>
    <!--  <app-gantt (cellEvent)="onCellClick($event)"
                  (barsEvent)="onBarsClick($event)"
                 #gantt
                 [options]="options"
                 [project]="project"
      ></app-gantt>-->
    <app-tree></app-tree>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur officiis ratione? Alias cupiditate inventore praesentium qui veritatis. Aliquam, consectetur cumque dicta dignissimos iusto laborum nostrum pariatur provident tempore temporibus?
    </div>
  </div>
  <app-sidebar class="side-bar"
               appScroll
               [start]="25"
               [disableWidth]="1000"
  ></app-sidebar>
</div>


